@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%; /* 16px base */
}

body {
  font-family: "Lato", "Cairo", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.05rem;
  }
}

:root {
  /* Brand colors */
  --color-primary: #e5915d;
  --color-secondary: #fbbc90;
  --color-alt: #7b5036;
  --color-alt-secondary: #9a6d51;
  --color-primary-transparent: #fac59b;
  --color-text-primary: #a46844;

  --color-nat-100: #fafafa;
  --color-nat-200: #f5f5f5;
  --color-nat-300: #eeeeee;
  --color-nat-400: #424242;
  --color-nat-500: #212121;
  --color-nat-600: #141414;

  --color-red: #e53935;
  --color-blue: #3f51b5;
  --color-green: #4caf50;

  --text-primary: #a46844;
}
